<mat-card *ngFor="let intervento of interventi" class="intervento-card mat-elevation-z2">

    <mat-card-header>
        
        <!--
            <p>DEBUG: </p>
        {{intervento.DataIntervento }}
        {{ intervento.DataIntervento.seconds * 1000 | date:'dd/MM/yyyy' }}
        -->

        <mat-card-title>Data: {{intervento.DataIntervento.toDate() | date: 'dd/MM/yyyy'}}</mat-card-title>
        
    </mat-card-header>
    
    <!-- <div>
        <img mat-card-image [src]="intervento.MacchinaImg">
    </div> -->

    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <span class="mini">Valore Ricambi: </span>{{intervento.ValoreRicambi}} euro<br>
                <span class="mini">Modello Macchina: </span><br>{{intervento.Modello}}<br>
                <span class="mini">Intervento Risolutivo: </span><mat-checkbox [checked]="intervento.Risolutivo"></mat-checkbox>
            </div>
            <div class="col-3" >
            </div>
            <div class="col-3" >
                <div mat-card-avatar>
                    <div class="operatoreName operatore">Operatore</div>
                    <img class="mat-elevation-z8" style="border: grey 1px solid" [src]="intervento.OperatoreImg">
                    <div class="operatoreName" >{{intervento.Operatore}}</div>
                </div>
            </div>
        </div>
    </mat-card-content>

<!-- <div style="margin-top: 50px">Interventi.component 
    (chiamato da assistenza component riceve da quello una lista di Observables
     "interventi" con la sintassi[interventi]="interventi$ | async" che fa COSI' la 
     subscribe "nell'html")
     e li passa a una variabile. Qui in Interventi.component mettiamo interventi in un ngFor
</div> -->

<mat-card-actions style="text-align: center;">
    <p>--------------- ANDREA ----------------</p>
    {{intervento.NIntervento}}
    {{intervento.Tipo}}
    <p>--------------- ANDREA ----------------</p>
    <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/assistenza', intervento.NIntervento]">
        &nbsp;MOSTRA&nbsp;
    </button>

    <button mat-button class="mat-raised-button mat-primary" (click)="editIntervento(intervento)">
        MODIFICA
    </button>

</mat-card-actions>
</mat-card>
