* { font-family: 'Titillium Web', sans-serif;}

.mat-card-image {
    margin-top: 20px;
    border: 1px black solid;
}

.imgIntervento {
    margin-top: 20px; 
    border-radius: 2px;
    text-align: center;
    width: 250px;
}

.titolo {
    margin-top:10px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.descrizione-cell {
    text-align: left;

  }

.pezzo-cell {
    text-align: left;
  }

.valore-cell {
    padding-left: 65px;
  }