
<div style="position: relative;">
    <!-- <input [value]="data.title" #inputTitle> -->
    <button style="display: inline; position: absolute; right: 0px; top: 0px; background-color: transparent; border: 0px; outline: none;" *ngIf="data.showDel" [mat-dialog-close]="'delete'+data.id"><mat-icon color="primary">delete_outline</mat-icon></button>
    <div class="titolo">{{data.start.toLocaleDateString('it-IT')}}</div>
    <select  id="colorpicker" style="position: absolute; left: 8px; top: -12px; width: 30px" matNativeControl [(ngModel)]="data.color">
        <option value="#c6c6c6"> &nbsp;⚪ </option>
        <option value="#f23838"> &nbsp;🔴 </option>
        <option value="#3c8ec6"> &nbsp;🔵 </option>
        <option value="#845b5b"> &nbsp;🟤 </option>
        <option value="#9850ff"> &nbsp;🟣 </option>
        <option value="#7fff64"> &nbsp;🟢 </option>
        <option value="#ffe655"> &nbsp;🟡 </option>
        <option value="#ffac52"> &nbsp;🟠 </option>
    </select>
</div>
<div style="text-align: center">
    <input [id] = "data.id" hidden>
    <input [(ngModel)] = "data.start" hidden>
    <!-- <div style="text-align: center"> <input style="width:22px;border-radius: 20px; outline: none; cursor: pointer;" type='color' [(ngModel)]="data.color"> </div> -->




    <mat-form-field>
        <mat-label>Descrizione Evento</mat-label>
        <input matInput [(ngModel)]="data.title">
    </mat-form-field>

    <div style="text-align: center"> <mat-checkbox id="allDay" [(ngModel)]="data.allDay" color="primary" >tutto il giorno</mat-checkbox></div>

    <mat-form-field>
        <mat-label>Dalle</mat-label>
        <select matNativeControl id="dalle" [disabled]="data.allDay" [(ngModel)]="data.startTime">
            <option value="-" [selected]="data.allDay">-</option>
            <option *ngFor="let time of timesArray" [value]="time.timeString">{{time.timeToShow}}</option>
        </select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Alle</mat-label>
        <select matNativeControl id="alle" [disabled]="data.allDay" [(ngModel)]="data.endTime">
          <option value="-" [selected]="data.allDay">-</option>
          <option *ngFor="let time of timesArray" [value]="time.timeString">{{time.timeToShow}}</option>
        </select>
    </mat-form-field>
    <!-- <div><label for="color1">Color 1</label> <input id="color1" type="text" name="color1" value="#333399" /></div>-->
    <div style="text-align: center; margin-top: 10px;">
        <button mat-stroked-button style="width: 35px; padding: 0px" (click)="onNoClick()">Annulla</button>
        <button mat-stroked-button style="width: 35px; margin-left: 3px; padding: 0px;" [mat-dialog-close]="data">OK</button>

    </div>
</div>