<mat-toolbar class="mat-toolbar-container">
    <span>{{service.form.controls['$key'].value?"Modifica cliente":"Nuovo Cliente"}}</span>
    <span class="fx spacer"></span>
    <button class="mat-dialog-close" mat-button (click)="onCloseDialog()" tabindex ="-1" style="outline: 0" ><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<!--Questo non è un template driven come la dialog calendar ma un reactive form!-->
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
            <input formControlName="name" matInput placeholder="Nome*">
            <mat-error>campo richiesto</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="surname" matInput placeholder="Cognome*">
            <mat-error>campo richiesto</mat-error>
        </mat-form-field>
    <mat-form-field>
        <mat-label>Data di Nascita</mat-label>
        <input formControlName="birthdate" matInput [matDatepicker]="picker" placeholder="gg/mm/aaaa">
        <mat-datepicker-toggle matSuffix [for]="picker" style="outline: 0"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
        <mat-form-field>
            <input formControlName="address" matInput placeholder="Indirizzo (Via/Piazza) e N°">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="city" matInput placeholder="Comune">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cellulare*</mat-label>
            <input formControlName="mobile" matInput>
            <mat-error *ngIf="service.form.controls['mobile'].errors?.required">campo richiesto</mat-error>
            <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">lunghezza minima 8 cifre</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>e-mail</mat-label>
            <input formControlName="email" matInput placeholder="es. 'mario.rossi@yahoo.it'">
            <mat-error>formato email non valido</mat-error>
        </mat-form-field>
        <div class="add-bottom-padding">
            <mat-radio-group formControlName="gender">
                <mat-radio-button value="M">M</mat-radio-button>
                <mat-radio-button value="F">F</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="add-bottom-padding">
            <mat-checkbox formControlName="fattElettronica">
                Ha fatturazione Elettronica
            </mat-checkbox>
        </div> 
        <div class="button-row">
            <!-- <button mat-raised-button color="warn" type="submit" (click)="onCloseDialog()">Annulla</button> -->
            <button class="button-save" mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid" >Salva</button>

        </div>
    </div> 
</form>
