
form.normal-form {
    margin: 10px;
}

.controles-container > * {
    margin: auto !important;
    width: 220px;
}

.add-bottom-padding {
    padding-bottom: 10px;
    text-align: center;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

.button-row button {
        margin: 5px;
}

.normal-form {
    width: 250px !important;
}

.button-row {
    text-align: center;
    padding: 0px;
}

.button-save {
    width: 80%;
}