
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <mat-list>
        <mat-list-item (click)="sidenav.close()" [routerLink]="['/calendario']">
            <mat-icon matListIcon>event</mat-icon>
            <h3 matLine>CALENDARIO</h3>
        </mat-list-item>
        <mat-list-item (click)="sidenav.close()" [routerLink]="['/anguniv']">
          <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
          <h3 matLine>ANGUNIV</h3>
        </mat-list-item>
        <mat-list-item (click)="sidenav.close()" [routerLink]="['/anguniv2']">
          <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
          <h3 matLine>ANGUNIV2</h3>
        </mat-list-item>
        <mat-list-item (click)="sidenav.close()" [routerLink]="['/assistenza']">
          <mat-icon matListIcon>build</mat-icon>
          <h3 matLine>ASSISTENZA</h3>
        </mat-list-item>
        <mat-list-item (click)="sidenav.close()" [routerLink]="['/anagrafica clienti']">
          <mat-icon matListIcon>people_alt</mat-icon>
          <h3 matLine>ANAGRAFICA CLIENTI</h3>
        </mat-list-item>
        
        <mat-list-item *ngIf="isLoggedOut$ | async"  (click)="sidenav.close()" [routerLink]="['/login']">
          <mat-icon matListIcon>fingerprint</mat-icon>
          <h3 matLine>Login</h3>
        </mat-list-item>

        <mat-list-item *ngIf="isLoggedIn$ | async" (click)="logout()">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <h3 matLine>Logout</h3>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-toolbar color="primary">
    <div class="toolbar-tools">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="filler"></div>
      
      <ng-container  *ngIf="(pictureUrl$ | async) as pictureUrl">
        <p class="HeaderText">{{UserName$ | async}} </p>
        <img class="user-avatar" [src]="pictureUrl">
      </ng-container>
      
      <!--
      <mat-icon color="black" (click)="sidenav.open()" style="cursor: pointer;">menu_open</mat-icon>

        <button mat-icon-button (click)="start.open('mouse')">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="filler"></div>
        <ng-container *ngIf="(pictureUrl$ | async) as pictureUrl">
            <img class="user-avatar" [src]="pictureUrl" >
        </ng-container>
      -->
    </div>
  </mat-toolbar>



  <!--<div class="container">  -->
  <router-outlet></router-outlet>
  <!-- </div> -->

</mat-sidenav-container>
