
mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
    
}

mat-sidenav {
    background-color: rgba(153, 255, 255, 0.8);
    width: 300px;
    
    
}

mat-grid-tile {
    background-color: rgb(250, 135, 202);
    
}

mat-form-field {
    padding: 10px;
}

mat-radio-button {
    padding: 10px;
}

mat-checkbox {
    padding: 10px;
}

