

    <div class="titolo">{{data.start.toLocaleDateString('it-IT')}}</div>
    <mat-icon>home</mat-icon>
    <button mat-button></button>
<!-- <input [value]="data.title" #inputTitle> -->
    <input [id] = "data.id" hidden>
    <input [(ngModel)] = "data.start" hidden>
    <div style="text-align: center"> <input style="width:30px;" type='color' id='colorPicker' [(ngModel)]="data.color"> </div>
    <mat-form-field>
        <mat-label>Descrizione Evento</mat-label>
        <input matInput [(ngModel)]="data.title">
    </mat-form-field>
    <div style="text-align: center"> <mat-checkbox id="allDay" [(ngModel)]="data.allDay" color="primary" >tutto il giorno</mat-checkbox></div>

    <mat-form-field>
        <mat-label>Dalle</mat-label>
        <select matNativeControl id="dalle" [disabled]="data.allDay" [(ngModel)]="data.startTime">
            <option value="-" [selected]="data.allDay">-</option>
            <option *ngFor="let time of timesArray" [value]="time.timeString">{{time.timeToShow}}</option>
        </select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Alle</mat-label>
        <select matNativeControl id="alle" [disabled]="data.allDay" [(ngModel)]="data.endTime">
          <option value="-" [selected]="data.allDay">-</option>
          <option *ngFor="let time of timesArray" [value]="time.timeString">{{time.timeToShow}}</option>
        </select>
    </mat-form-field>
    <!-- <div><label for="color1">Color 1</label> <input id="color1" type="text" name="color1" value="#333399" /></div>-->
    <div style="text-align: center; margin-top: 10px;">
        <button mat-stroked-button style="width: 85px;" (click)="onNoClick()">Annulla</button>
        <button mat-stroked-button style="width: 85px; margin-left: 5px; " [mat-dialog-close]="data">OK</button>
    </div>
