/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width: 768px) {

    .fc-prev-button {
        width: 30px;
        height: 30px;
        padding: 0px;
    }

    .fc-next-button {
        width: 30px;
        height: 30px;
        padding: 0px;
    }

    .fc-dayGridMonth-button {
        background: url('./assets/month.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-timeGridWeek-button {
        background: url('./assets/week.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-timeGridDay-button {
        background: url('./assets/day.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-listWeek-button {
        background: url('./assets/list.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-today-button {
        background: url('./assets/today.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-button-primary {
        background-color: #2C3E50;
    }

    .fc-center {
        font-size: 10px;
    }
    .mat-h2, .mat-title, .mat-typography h2 {
        
        font-size: 14px !important;
    }
}


.mat-h2, .mat-title, .mat-typography h2 {
    margin: 5px 0px 0px 0px !important;
    font-family: 'Titillium Web' !important;
}