/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width: 768px) {

    .fc-prev-button {
        width: 30px;
        height: 30px;
        padding: 0px;
    }

    .fc-next-button {
        width: 30px;
        height: 30px;
        padding: 0px;
    }

    .fc-dayGridMonth-button {
        background: url('./assets/month.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-timeGridWeek-button {
        background: url('./assets/week.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-timeGridDay-button {
        background: url('./assets/day.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-listWeek-button {
        background: url('./assets/list.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-today-button {
        background: url('./assets/today.svg');
        background-repeat: no-repeat;
        color:transparent !important;
        width: 30px;
        height: 30px;
    }

    .fc-button-primary {
        background-color: #2C3E50;
    }

    .fc-center {
        font-size: 10px;
    }
    .mat-h2, .mat-title, .mat-typography h2 {
        
        font-size: 14px !important;
    }
}


.mat-h2, .mat-title, .mat-typography h2 {
    margin: 5px 0px 0px 0px !important;
    font-family: 'Titillium Web' !important;
}

.fc-sun { background-color:rgb(241, 241, 241); }
.fc-sat { background-color:rgb(241, 241, 241);  }

.fc-week-number { background-color:rgb(241, 241, 241); }

snack-bar-container.success {
    background-color: #5cb85c;
    color: #fff;
}

snack-bar-container.notification simple-snack-bar {
    font-size: 14px !important;
    
}

.hide {
    display:none;
}

mat-footer-row mat-cell{
    justify-content: center;
    font-style: italic;
}

.search-div {
    margin: 10px;
}

.search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top:0px;
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom:0px;
}

.search-form-field div.mat-form-field-suffix button {
    height: 32px;
    width: 32px;
}
