<!-- <table>
  <tr *ngFor=" let FCevent of FCevents | async">
      <td>
          {{FCevent|json}}
      </td>
  </tr>
</table> -->
 
  <div class="container text-center">
      <full-calendar #calendar
        defaultView="dayGridMonth"
        [editable]="true"
        [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }"
        [navLinks] = "'true'"
        (navLinkDayClick)="navLinkDayClick($event)"
        (navLinkWeekClick)="navLinkWeekClick($event)"

        [plugins]="calendarPlugins"
        [locale] = "it"
        [weekends]="calendarWeekends"
        [events]="calendarEvents"
        (dateClick)="newEvent($event)"
        (eventClick)="clickEvent($event)"
        deepChangeDetection="true"
        (eventDrop)="eventDrop($event)"
        (eventDragStart) = "eventDragStart($event)"
        
        ></full-calendar>
  </div>
  
  
  
  
  
  <!-- <div class='app'>
  
      <div class='app-top'>
        <button (click)='toggleVisible()'>toggle visible</button>
        <button (click)='toggleWeekends()'>toggle weekends</button>
        <button (click)='gotoPast()'>go to a date in the past</button>
        (also, click a date/time to add an event)
      </div>
    
      <div class='app-calendar' *ngIf="calendarVisible">
        <full-calendar
          #calendar
          defaultView="dayGridMonth"
          [header]="{
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          }"
          [plugins]="calendarPlugins"
          [weekends]="calendarWeekends"
          [events]="calendarEvents"
          (dateClick)="handleDateClick($event)"
        ></full-calendar>
      </div>
    
    </div> -->
    