
<!-- <h2 mat-dialog-title>{{dataIntervento}}</h2> -->


<mat-dialog-content [formGroup] = "form">

    <!-- <mat-form-field>
        <input matInput placeholder="data Intervento" formControlName="dataIntervento">
    </mat-form-field> -->
    <br>
    <!-- <mat-form-field formControlName="nIntervento"></mat-form-field> -->
    <mat-form-field>
        <input matInput placeholder="ID Intervento" formControlName="NIntervento">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" [style.width.px]=180>
        <mat-label>Data Intervento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dtIntervento" required>
        <mat-datepicker-toggle matSuffix [for]="picker" style="outline: none"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" [style.width.px]=180>
        <mat-label>Operatore</mat-label>
        <select matNativeControl formControlName="Operatore">
            <option *ngFor="let operator of operators" [value]="operator" >{{operator}}</option>
        </select>
    </mat-form-field>

<!-- 
    <mat-form-field>
        <input matInput placeholder="Operatore" formControlName="operatore">
    </mat-form-field> -->
    <br>
    <mat-form-field>
        <input matInput placeholder="Modello Macchina" formControlName="Modello">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" [style.width.px]=180>
        <mat-label>Tipo Intervento</mat-label>
        <select matNativeControl formControlName="Tipo">
            <option *ngFor="let tipo of tipiArray" [value]="tipo" >{{tipo}}</option>
        </select>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button" (click)="close()">
        Annulla
    </button>

    <button class="mat-raised-button mat-primary" (click)="save()">
        Salva
    </button>

</mat-dialog-actions>


